@using CommonInterface
@{
    ViewBag.Title = "Главная";
}
@Styles.Render("~/content/bootstrap.css")
@Styles.Render("~/content/bootstrap.min.css")
@Scripts.Render("~/scripts/bootstrap.js")
@Scripts.Render("~/scripts/bootstrap.min.js")
@Scripts.Render("~/scripts/jquery-2.2.0.min.js")
@Scripts.Render("~/scripts/jquery-2.2.0.js")
<h2>Index</h2>
<div>
    <select id="catalog-menu">
        @foreach (var menuItem in (Dictionary<string, List<MenuItem>>) Model)
        {
            <option value="@menuItem.Key">@menuItem.Key</option>
        }

    </select>
    <script>
        var key = $("#catalog-menu")[0].value;
        $.post('@Url.Action("FilterCatalog", "Client")', { key: key },
            function (data) {
                $("#change-result").html(data);
            });
    </script>
    <div id="change-result"></div>
</div>
<script>
    $("#catalog-menu").change(function(e) {
        e.preventDefault();
        var key = $("#catalog-menu")[0].value;
        $.post('@Url.Action("FilterCatalog", "Client")', { key: key },
            function(data) {
                $("#change-result").html(data);
            });
    });
</script>


