@model Agregator.Models.PagingModel
<div id="parse-view">
    <div id="parse-results-list">
        <ul id="list" title="Все предприятия">
            @foreach (var item in Model.PartyModelList)
            {
                <li>
                    @item.Name
                    @if (item.Email != "Email отсутствует")
                    {
                        <a href="mailto:@item.Email">@item.Email</a>
                    }
                    else
                    {
                        @item.Email
                    }
                    @if (item.Site != "Сайт отсутствует")
                    {
                        <a href="@item.Site">@item.Site</a>
                    }
                    else
                    {
                        @item.Site
                    }
                </li>
            }
        </ul>
    </div>
    Страница @(Model.CountPage < Model.CurrentPage ? 0 : Model.CurrentPage) из @Model.CountPage
  
    <br/>
    <ul class="pagination">
        @if (Model.CountPage >= 2)
        {
            <li>
                <a href="#" aria-label="Previous" onclick="previousPage()">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
        }
        @for (var i = 0; i < Model.CountPage; i++)
        {
            if (Model.CurrentPage == i + 1)
            {
                <li value="@(i + 1)" id="current-page-item"><a>@(i + 1)</a></li>
                continue;
            }
            <li value="@(i + 1)" id="page-item"><a href="#" onclick="changePage(this.innerText)"> @(i + 1) </a></li>
        }
        @if (Model.CurrentPage < Model.CountPage - 1 && Model.CountPage > 1)
        {
            <li>
                <a href="#" aria-label="Next" onclick="nextPage()">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        }
    </ul>
</div>
<script>
    function nextPage() {
        changePage(( + $("#current-page-item")[0].value + 1));
    }

    function previousPage() {
        changePage(( + $("#current-page-item")[0].value - 1));
    }

    function changePage(page) {
        $("#parse-view").load('@Url.Action("Parse", "Client")', { page: page });
    }
</script>