@model PagedList.IPagedList<Dal.Interface.PartyModel>
@using PagedList.Mvc;

<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
<div id="parse-results-list">
    <ul title="Все предприятия">
        @foreach (var item in Model)
        {
            <li>
                @item.Name
                @item.Email
                @if (item.Site != "Сайт отсутствует")
                {
                    <a href="@item.Site">@item.Site</a>
                }
                else
                {
                    @item.Site
                }
            </li>
        }
    </ul>
</div>
Страница @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) из @Model.PageCount
@Html.PagedListPager(Model, page =>
{
    
    "#parse-results-list"

})